@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Finishing of registration";
}

<p>Instructions for completing registration have been sent to the specified email address.</p>