@{
    ViewBag.Title = "Контакт";
}
<h3>@ViewBag.Message</h3>
<address>
    Grechuha Maxim<br />
    Minsk, Gurskogo st.23<br />
    max.grechuha@mail.ru<br />
    <abbr title="Phone">Phone:</abbr>
    +375256032799
</address>
<address>
    <strong>Support:</strong>   <a href="mailto:event_planer_mail@mail.ru">event_planer_mail@mail.ru</a><br />
</address>